html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: var(--wtu-text-color);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    color-scheme: light;
    --wtu-text-color: #fff;
}

:root {
    color-scheme: dark;
    --wtu-text-color: #fff;
}

.vertical-middle > * {
    vertical-align: middle;
}
.vertical-middle > .icon {
    margin-right: 0.3em;
}

@media screen and (max-width: 900px) {
    .visible-max-900px {
        display: inline-block;
    }
}

@media screen and (min-width: 900px) {
    .visible-min-900px {
        display: inline-block;
    }
}

@media screen and (min-width: 900px) {
    .invisible-max-900px {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .invisible-min-900px {
        display: none;
    }
}
